.elerhetoseg {
  display: flex;
  gap: 2em;
  flex-direction: column-reverse;
}

.contact_images {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.contact_img {
  width: 26rem;
}
.img-1 {
  border: 6px solid gainsboro;
}

.title_h2 {
  color: var(--lght-blue-gray);
}
.main_text-content {
  margin: auto;
  border-collapse: separate;
  border-spacing: 12px 30px;
}
.main_text-row {
  text-align: justify;
}

.main_text-data {
  /* text-align: justify; */
  font-family: var(--font-content);
  font-weight: bold;
  color: var(--lght-blue-gray);
  font-size: 1.1rem;
  /* margin: auto; */
}

.map_box {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.map_button {
  width: fit-content;
  margin: 0 auto 10px;
}

.map_button:link,
.map_button:visited {
  display: block;
  /* background-color: rgb(96, 77, 133); */
  color: var(--lght-blue-gray);
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  cursor: pointer;
  /* box-shadow: 2px 2px lightgray; */
  /* border-radius: 50px; */
}

@media screen and (min-width: 800px) {
  .elerhetoseg {
    flex-direction: row;
  }
  /* .main_text-content {
    position: relative;
    bottom: 8rem;
  } */
  .map_box {
    flex-direction: row;
  }

  .map_button:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}
